<?xml version="1.0"?>
<model>
  <name>x500_cbr_2026</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Angelo Pavan</name>
   <email>evtol.ita@gmail.com</email>
  </author>

  <description>
    x500_depth with vertical and horizontal cameras for CBR 2026
  </description>
</model>
