<?xml version="1.0"?>
<model>
  <name>x500_tdp</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Vinicius Ceccon</name>
   <email>evtol.ita@gmail.com</email>
  </author>

  <description>
    x500_depth with a vertical and a 45deg cameras for NIST target detection
  </description>
</model>
